[submodule "includes/vulkan"]
	path = includes/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "includes/libbrv"]
	path = includes/libbrv
  url = https://github.com/KoT3isGood/libbrv.git 
[submodule "includes/cglm"]
	path = includes/cglm
	url = https://github.com/recp/cglm.git
[submodule "includes/Vulkan-Utility-Libraries"]
	path = includes/Vulkan-Utility-Libraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
